head
  title Jade Example
  link(rel="stylesheet", href="/stylesheets/style.css")
  link(rel='stylesheet', type='text/css', href='/stylesheets/demo.css')
  link(rel='stylesheet', type='text/css', href='/stylesheets/normalize.css')
  link(rel='stylesheet', type='text/css', href='/stylesheets/tabs.css')
  link(rel='stylesheet', type='text/css', href='/stylesheets/tabstyles.css')
  script(src='js/modernizr.custom.js')
