doctype html
html
  include header
  body
    block content
script(src='javascript/ace.js')
script.
  var editor1 = ace.edit("editor1");
  editor1.setTheme("ace/theme/twilight");
  editor1.session.setMode("ace/mode/javascript");
  var connection = new WebSocket('ws://localhost:8080');
  connection.onmessage = function (message) {
    var pos = editor1.session.selection.toJSON()
    editor1.setValue(message.data);
    editor1.session.selection.fromJSON(pos)
  }
  editor1.on('change', function(e) {
    if (editor1.curOp && editor1.curOp.command.name) {
      connection.send(editor1.getValue());
    }
  });  

